<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knitwit: Create your own knitting pattern</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>

    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/lib/jcrop/jcrop.css" rel="stylesheet">
    <link href="/static/lib/color/spectrum.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="banner"></div>
    <div id="page">
        <div class="row">
            <div id="title" class="col-md-6 col-md-offset-3">
                <div class="center">
                    <h1>Knitwit</h1>
                    <h3>Create your own knitting pattern</h3>
                </div>
                <p>I've made this page to help people create knitting patterns from 
                photos or images. The process is simple; you upload an image, adjust 
                it, adjust the gauge and generate a pattern. Once you've made the pattern you can save 
                it and share it so others can use and improve it.</p>

                <p>I've included a short guide on how to use Knitwit on <a
                href="http://dynkarken.com/knitwit/" alt="my blog">my blog</a>.
                You can see the pattern example from the blog post <a
                href="">here</a></p>

                <div id="example">
                    <img src="/static/images/flower.png">
                    <img id="arrow" src="/static/images/arrow-right.png">
                    <img src="/static/images/pattern.png">
                </div>
            </div>
        </div>
        <div id="upload"></div>
        <div id="colors"></div>
        <div class="no-show" id="pattern"></div>
        <div id="footer" class="row">
            <div class="col-md-9 col-md-offset-3">
                <p>Knitwit is made and designed by <a href="mailto:jonas@ifany.org">Jonas Arnfred</a></p>
            </div>
        </div>
    </div>
    <div id="foot-banner"></div>

      <script src="/static/lib/curl.js" type="text/javascript"></script>
      <script>
        curl({ 
            paths: { 
            lib: '/static/lib/',
            js: '/static/js/',
            templates : '/static/templates/',
            ractive : "/static/lib/ractive-legacy.min",
            ractive_tap : "/static/lib/ractive-events-tap.min",
            ractive_fade : "/static/lib/ractive-transitions-fade.min"
            }
        },
        ["js/controller", "domReady!"],
        function(controller) {
            controller.init();
        });
      </script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.dynkarken.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="http://piwik.dynkarken.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
