$def with(name, page_id)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knitwit: $name</title>

    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <link href="/static/lib/color/spectrum.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="banner"></div>
    <div id="page">
        <div id="pattern"></div>
        <div id="footer" class="row">
            <div class="col-md-9">
                <p>Knitwit is coded and designed by <a href="mailto:jonas@ifany.org">Jonas Arnfred</a></p>
            </div>
        </div>
    </div>

      <script src="/static/lib/curl.js" type="text/javascript"></script>
      <script>
	curl({ 
	    paths: { 
	      lib: '/static/lib/',
	      js: '/static/js/',
	      templates : '/static/templates/',
	      pages : '/static/data/pages',
          ractive : "/static/lib/ractive-legacy.min",
          ractive_tap : "/static/lib/ractive-events-tap.min",
          ractive_fade : "/static/lib/ractive-transitions-fade.min"
	    } 
	  },
	  ["js/page", "text!pages/$(page_id).json", "domReady!"],
	  function(controller, page_data) {
	    // Nothing here. Check controller for initialization
	    page_json = \$.parseJSON(page_data);
	    controller.init(page_json);
	  });
      </script>
  </body>
</html>
