<div class="row less-space" id="color-row">

	<div class="col-md-3 description">
		<h3>Select Key Colors</h3>

		<p>Select the most important colors in the image. To select a color, 
		click on the color field below the image and then on click on the part 
		of the image that has this color. You can add as many colors as you 
		like.</p>

	</div>

	<div class="col-md-6">

		<!-- canvas with image -->
		<canvas id="color-picker"></canvas>

		<!-- color groups -->
		<ul class="colors" id="change-color">
			{{ #colors }}
			<li on-click="change-color" style="background-color:rgb({{r}},{{g}},{{b}})"></li>
			{{ /colors }}
			<p class="add add-color" on-click="add-color">
				Add color
			</p>
		</ul>
	</div>
</div>



<div class="row space" id="generate-row">
	<div class="col-md-3 description">
		<h3>Generate Pattern</h3>

		<p>Decide how many stitches wide and long you want your pattern and 
		generate to create your knitting pattern. The pattern might take a few 
		seconds to create, so be patient. Once it's created you can scroll down 
		to modify and save it.</p>

	</div>

	<!-- Upload and Camera buttons -->
	<div class="col-md-6" id="generate">

		<div id="pattern-size" class="half-row">
			{{ #size }}
			<form id="size-form">
				<p>
				<label for="pattern-width">Pattern width:</label>
				<input class="pattern-size form-control" id="pattern-width" type="text" value="{{ width }}" name="width"/>
				</p><p>
				<label for="pattern-height">Pattern height:</label>
				<input id="pattern-height" class="pattern-size form-control" type="text" value="{{ height }}" name="height"/>
				</p>
			</form>
			{{ /size }}
		</div>

		<div class="half-row">
			{{ #generate }}
			<button on-tap="generate-pattern" id="generate-pattern">
				<img src="{{ src }}" class="button-img" alt="generate 
				pattern"/>
				<p>Generate Pattern<p>
			</button>
			{{ /generate }}
		</div>
	</div>
</div>
