<div class="row less-space" id="color-row">

	<div class="col-md-3 description">
		<h3>3. Select Key Colors</h3>

		<p>Select the most important colors in the image. To select a color, 
		click on a color field then on click the image.</p>

	</div>

	<div class="col-md-6">

		<!-- canvas with image -->
		<canvas id="color-picker"></canvas>

		<!-- color groups -->
		<ul class="colors" id="change-color">
			{{ #colors }}
			<li>
				<div on-click="change-color" class="color" style="background-color:rgb({{r}},{{g}},{{b}})"></div>
			    <p on-click="delete-color" class="select">Delete</p>
            </li>
			{{ /colors }}
			<p class="add add-color" on-click="add-color">
				Add color
			</p>
		</ul>
	</div>
</div>



<div class="row space" id="generate-row">
	<div class="col-md-3 description">
		<h3>4. Generate Pattern</h3>

        <p>The 4 inch gauge is the number of horizontal and
        vertical stitches in a 4 by 4 inch swatch.</p>

	</div>

	<!-- Upload and Camera buttons -->
	<div class="col-md-6" id="generate">

		<div id="pattern-size" class="half-row">
			{{ #size }}
			<form id="size-form">
				<p>
				<label for="pattern-width">Pattern width:</label>
				<input class="pattern-size form-control" id="pattern-width" type="text" value="{{ width }}" name="width"/>
				</p><p>
				<label for="pattern-height">4 inch gauge:</label>
				<input id="pattern-gauge-x" class="pattern-gauge form-control" type="text" value="{{ gauge.x }}" name="gauge-x"/>
                x
				<input id="pattern-gauge-y" class="pattern-gauge form-control" type="text" value="{{ gauge.y }}" name="gauge-y"/>
				</p>
			</form>
			{{ /size }}
		</div>

		<div class="half-row">
			{{ #generate }}
			<button on-tap="generate-pattern" id="generate-pattern">
				<img src="{{ src }}" class="button-img" alt="generate 
				pattern"/>
				<p>Generate Pattern<p>
			</button>
			{{ /generate }}
		</div>
	</div>
</div>
