<div class="row">

	<div class="col-md-3 description">
		<h3>{{ name }}</h3>

		<p>You can change the colors in the pattern to suit your yarn by 
		clicking on the color fields. If you want to reduce the amount of 
		colors in the pattern, you can select any color and merge it with other 
		colors. You can change individual stichtes in the pattern by clicking 
		on them to cycle through the colors.</p>

		{{ #save }}
		<form id="save-form">
			<p>
			<label for="save-name">Save the pattern as:</label>
			<input on-tap="clear-field" class="save-name form-control" id="save-name" type="text" value="{{ name }}" name="save-name"/>
			</p>
		</form>

		<button on-tap="save-pattern" id="save-pattern">
			<img src="/static/images/save.png" class="button-img" id="save" 
			alt="save pattern"/>
			<p>Save<p>
		</button>
		{{ /save }}

		{{ #saved }}
		<p id="saved">
			Pattern saved as: <a href="{{ href }}">{{ name }}</a>
		</p>
		{{ /saved }}
	</div>


	<!-- Row of colors -->
	<div class="col-md-9" id="pattern-box">
		<ul class="colors" id="pattern-colors">
            <button id="symbols" on-click="symbols-toggle">
                <img class="button-img" src="/static/images/{{ show_symbols ? 'colors' : 'symbols' }}.png">
            </button>
			{{ #colors }}
			<li>
				<div class="color" style="background-color:rgb({{r}},{{g}},{{b}})"></div>
				<p on-click="set-merge" class="select">Select</p>
			</li>
			{{ /colors }}
		</ul>

        <table class="clear" style="font-size:{{ font.size }}px">
			<!-- Table headers -->
			<tr>
				<th></th>
				{{ #header:index }}
				<th>{{ (index+1) % 100 }}</th>
				{{ /header }}
			</tr>

			<!-- Table body -->
			{{ #pattern:row_index }}
			<tr>
				<td class="header">{{ (row_index + 1) % 100 }}</td>
				{{ #row }}
				<td class="point color{{ this }}" on-click="correct-color">
                    {{ show_symbols ? symbols[this] : "" }}
                </td>
				{{ /row }}
			</tr>
			{{ /pattern }}
		</table>
	</div>

</div>
