<div class="row">

	<div class="col-md-3 description">
		<h3>{{ name }}</h3>

		<p>You can adjust the colors in the pattern by clicking on the colors.
		To adjust individual fields of the pattern, click on them until they
		have the correct color.</p>

		{{ #save }}
		<form id="save-form">
			<p>
			<label for="save-name">Save the pattern as:</label>
			<input on-tap="clear-field" class="save-name form-control" id="save-name" type="text" value="{{ name }}" name="save-name"/>
			</p>
		</form>

		<button on-tap="save-pattern" class="square-button" id="save-pattern">
			<img src="/static/images/save.png" id="save" alt="save pattern"/>
			<p>Save<p>
		</button>
		{{ /save }}

		{{ #saved }}
		<p id="saved">
			Pattern saved here:
		</p>
		<p><a href="{{ href }}">{{ name }}</a></p>
		{{ /saved }}
	</div>


	<!-- Row of colors -->
	<div class="col-md-6">
		<ul class="pattern-colors" id="pattern-colors">
			{{ #colors }}
			<li>
				<div class="color" style="background-color:rgb({{r}},{{g}},{{b}})"></div>
				<p on-click="set-merge" class="select">Select</p>
			</li>
			{{ /colors }}
		</ul>

		<table>
			<!-- Table headers -->
			<tr>
				<th></th>
				{{ #header:index }}
				<th>{{ (index+1) % 100 }}</th>
				{{ /header }}
			</tr>

			<!-- Table body -->
			{{ #pattern:row_index }}
			<tr>
				<td class="header">{{ (row_index + 1) % 100 }}</td>
				{{ #row }}
				<td class="point color{{ this }}" on-click="correct-color"></td>
				{{ /row }}
			</tr>
			{{ /pattern }}
		</table>
	</div>

</div>
