{{ #upload }}
<!-- Form elements -->
<form id="upload-form" name="upload-form" enctype="multipart/form-data" action="/upload/" method="POST">
	<input class="hide" type="file" size="20" id="upload-input" value="{{ file }}" />
</form>

<div class="row space" id="upload-row">

	<!-- Upload description -->
	<div class="col-md-3 description" id="upload-desc">
		<h3>Upload or Take Image</h3>
		<p>To make a knitting pattern, upload an image an image from your 
		computer or take a photo with your webcam. If you take a photo, make 
		sure to allow the browser to use your webcam.
		</p>
	</div>


	<div class="col-md-6" id="upload-buttons">
		<button on-tap="upload-image" class="half-row" id="upload-image">
			<img src="/static/images/upload.png" class="button-img" alt="upload 
			image"/>
			<p>{{ file_name }}<p>
		</button>
		<button on-tap="capture-image" class="half-row" id="capture-image">
			<img src="/static/images/camera.png"class="button-img"  alt="take 
			photo"/>
			<p>Take Photo<p>
		</button>
	</div>

</div>
{{ /upload }}


{{ #capture }}
<div class="row space" id="capture-row">

	<!-- Preview description -->
	<div class="col-md-3 description" id="capture-desc">
		<h3>Take photo</h3>
		<p>When you're ready, click on the image to take a photo</p>
	</div>

	<!-- Show image preview for cropping -->
	<div intro="fade" class="col-md-6" id="capture">
		<video on-tap="take-photo" id="video"></video>
		<canvas id="canvas" class="hide"></canvas>
	</div>

</div>
{{ /capture }}

{{ #preview }}
<div class="row space" id="preview-row" intro="fade">

	<!-- Preview description -->
	<div class="col-md-3 description" id="preview-desc">
		<h3>Crop Image</h3>
		<p>Your image is shown on the right. You can crop your image by 
		selecting the area of the image you would like to use. Scroll down when 
		you are satisfied.</p>
	</div>

	<!-- Show image preview for cropping -->
	<div class="col-md-6" id="preview">
		<img alt="preview" id="preview-image" src="{{ src }}" />
	</div>

</div>
{{ /preview }}
